// Imports
@import "variables";

// CSS Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global
body {
  font-family: $main-font;
  line-height: 1.6;
  background-color: $light-color;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}
